.contact {
    padding: 100px 0;
    background: rgb(0, 43, 57);
    background: linear-gradient(0deg, rgba(0, 43, 57, 1) 13%, rgba(129, 205, 255, 1) 100%);
}

.contact-form {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.subcontainer {
    background-color: antiquewhite;
    align-self: center;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 15px;
    width: 400px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-family: 'Poppins';
    font-size: 18px;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 5px;
    color: #555;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 17px;
    box-sizing: border-box;
    resize: vertical;
}

.contact-button {
    display: block;
    margin: auto;
    background: #4c6daf;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 17px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.contact-button:hover {
    background: #064273;
}

.contact-h1 {
    font-family: 'Montserrat';
    font-size: 48px;
    text-align: center;
    margin-bottom: 38px;
    position: relative;
    display: flex;
    justify-content: center;
    color: #064273;
    
}