.product {
  padding: 25px 0;
  background: rgb(110, 182, 230);
  background: linear-gradient(180deg, rgba(110, 182, 230, 1) 60%, rgba(255, 255, 255, 1) 100%);
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.product-categories {
  font-family: 'Montserrat';
  font-size: 48px;
  text-align: center;
  margin-bottom: 38px;
  position: relative;
  display: flex;
  justify-content: center;
  color: #fff;
}

.product-list__item {
  width: 275px;
  height: 275px;
  position: relative;
}

.product-list__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-list__title {
  position: absolute;
  font-family: 'Nova Square';
  top: 50%;
  text-transform: uppercase;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  background-color: #ffffffa5;
  font-size: 18px;
  padding: 2px 5px;
  color: #373737;
}