.product {
  padding: 20px 0;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.product-categories {
  font-family: 'Montserrat';
  font-size: 48px;
  text-align: center;
  margin-bottom: 15px;
  position: relative;
  display: flex;
  justify-content: center;
}

.product-list__item {
  width: 275px;
  height: 275px;
  position: relative;
}

.product-list__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-list__title {
  position: absolute;
  font-family: 'Nova Square';
  top: 50%;
  text-transform: uppercase;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  background-color: #ffffffa5;
  font-size: 18px;
  padding: 2px 5px;
  color: #373737;
}